
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <input type="text" class="form-control" id="inputEmail4" placeholder="Restorans, Cleaners, Food..">
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="inputPassword4" placeholder="Location">
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- <div class="col-2">
            <button type="button" class="btn btn-light">Light</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-light">Light</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-light">Light</button>
        </div> -->
    </div>
</div>