<!-- <div class="row m-0 p-0 rec-margin-padding-0 d-flex justify-content-center">
    <div class="col-md-11">
      <div class="row m-0 p-0 rec-margin-padding-0">
        <div class="col-md-5 order-md-1 order-2 d-flex flex-column align-items-center">
          <ngb-accordion class="w-100" [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1">
              <ng-template ngbPanelTitle>
                <img class="rounded-circle" src="../../../../../assets/burger.jpg" style="width: 40px; height:40px">
                <span class="px-2 btn-link">Nemanja Jocic</span>
                <ngb-rating [rate]="2" [max]="5">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="d-flex flex-column">
                  <span>Jocic zivi u Cernicu ili on voli da zove to Karadjordjevac i nece da izadje odatle,
                    NESHVATLJIVO...</span>
                  <div class="d-flex flex-row pt-4 justify-content-center">
                    <img class="" src="../../../../../assets/burger.jpg" style="width: 115px; height:140px">
                    <img class="ml-3" src="../../../../../assets/burger.jpg" style="width: 115px; height:140px">
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
              <ng-template ngbPanelTitle>
                <img class="rounded-circle" src="../../../../../assets/burger.jpg" style="width: 40px; height:40px">
                <span class="px-2">Miljan Djuric</span>
                <ngb-rating [rate]="4" [max]="5">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod h
                synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
  
          <div class="pt-3">
            <ngb-pagination [collectionSize]="2" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
  
        <div class="col-md-7 order-md-2 order-1">
          <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
          </ngb-carousel>
  
          <div class="row m-0 p-0 pt-4">
            <div class="col-md-6 p-2 d-flex flex-column">
              <h5>Basic info</h5>
              <div>
                  <span class="font-weight-bold text-danger">Ime:</span><span> Meze</span>
              </div>
              <div>
                  <span class="font-weight-bold text-success">Tip:</span><span> Kafana</span>
              </div>
              <div>
                  <span class="font-weight-bold text-primary">Adresa:</span><span> Obrenoviceva 12, Nis</span>
              </div>
              <div>
                  <span class="font-weight-bold text-warning">Ime:</span><span> Meze</span>
              </div>
              <span>Ocena:
                <ngb-rating [(rate)]="currentRate" [max]="5">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </span>
            </div>
            <div class="col-md-6 pt-2 pr-2 pb-2" style="background: mediumseagreen;">
              Google Map
            </div>
            <div class="col-md-12 p-2 d-flex flex-column">
              <h5>Oceni restoran</h5>
              <div class="d-flex align-items-center pb-2">
                <span class="pr-2">Ocena:</span>
                <ngb-rating [rate]="0" [max]="5">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <button class="btn btn-primary ml-auto">Postavi</button>
              </div>
              <textarea class="form-control" placeholder="Komentar"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

