<div class="login-page-wrapper">
    <div class="row m-0">
        <div class="d-none d-md-block col-md-8 p-0">
            <img src="assets/toa-heftiba-6bKpHAun4d8-unsplash.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-12 col-md-4 p-5 d-flex flex-column align-items-center" [formGroup]="loginForm">
            <span class="font-size-2-5 py-3 color-grey">Login</span>
            <div class="input-group input-group-lg py-2">
                <div class="input-group-prepend login-input-prepand-width">
                    <span class="input-group-text width-webkit-fill justify-content-center login-inputs-color" id="inputGroup-sizing-lg"><fa-icon [icon]="faIcons.faUser"></fa-icon></span>
                </div>
                <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" formControlName="email" placeholder="Email">
            </div>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend login-input-prepand-width">
                    <span class="input-group-text width-webkit-fill justify-content-center login-inputs-color" id="inputGroup-sizing-lg"><fa-icon [icon]="faIcons.faKey"></fa-icon></span>
                </div>
                <input type="password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" formControlName="password"  placeholder="Password">
            </div>
            <div class="w-100 text-align-end py-2">
                <a href="#">Forgot password?</a>
            </div>
            <button class="btn login-button" (click)="getLoginFormData()">Login</button>
            <span class="pt-4 color-grey">Don't have an acount? <a routerLink="/create-user" >Sign up</a></span>
        </div>
    </div>
</div>