<!-- <div class="main-wrapper">
    <div class="logo">
    </div>
    <p>
        Pronadji dobro mesto za klopu, dobro ocenjenog vodoinstalatera ili bilo sta drugo
    </p>
    <div class="inline-search-input-location">
        <input id="search-input-left" type="text" placeholder="Bilo sta ..."/>
        <input id="search-location-right" type="text" placeholder="Lokacija"/>
        <button (click)="search()" ></button>
    </div>
</div> -->

<!-- <app-category-list></app-category-list>
 -->
<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <app-search-filter></app-search-filter>
        </div>
    </div>
 
    <div class="mt-5">
        <h5>Trending categories this weel: </h5>
        <div class="row justify-content mt-1">
            <div class="col-2">
                <app-small-card></app-small-card>
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
        </div>
    </div>
    
    <div class="mt-5">
        <h5>Top bars last week: </h5>
        <div class="row justify-content mt-1">
            <div class="col-2">
                <app-small-card></app-small-card>
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
            <div class="col-2">
                <app-small-card></app-small-card>
    
            </div>
        </div>
    </div>

</div>

